body {
    background-color: 	#A349A4;

    display: grid;
    place-items: center;
}

#clock {
    height: 30vw;
    width: 80vw;
    margin: 0 auto;

    margin-bottom: 10vw;

    border: 2px solid black;
    border-radius: 20px;

    background-color: #C8BFE7;

    display: grid;
    place-items: center;

    font-family: 'Orbitron', sans-serif;
    font-size: 20vw;
}

#start {
    height: 10vw;
    width: 10vw;

    background-color: #F2F2F2;

    border: 1px solid black;
    border-radius: 2vw;

}